<app-navbar></app-navbar>
<div style="margin-top: 50px;">
  <h2 class="text-center">
    HOME
  </h2>
</div>
<br>
<h4 class="text-center"><a id="productsLink" routerLink="/products" routerLinkActive="true">products</a></h4>
<br>
<div>
  <img [src]="imgUrl" style="width: 250px; height: 250px; margin: auto; display: block;"><br>
  <hr>
  <p class="text-center">{{ sentence }}</p>
  <hr>
  <button class="btn btn-primary btn-sm" style="margin: auto; display: block;" (click)="changeMe()">CLICK ME</button>
</div>

